<div class="card mb-4" id="dashboard">
                    <div class="card-body">
                        <h2 class="card-title">Dashboard Principal</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Resumen General</div>
                                    <div class="card-body">
                                        <p>Total de Equipos: <span id="rutasActivas">40</span></p>
                                        <p>Lenovo: <span id="vehiculosOperacion">7</span></p>
                                        <p>Siragon:<span id="usuariosTotal">7</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Recomendados</div>
                                    <div class="card-body">
                        
                                        <p>HP: <span id="puntualidad">6</span></p>

                                        <p>Sony: <span id="ocupacionVehiculos">5</span></p>
                                        <p>Apple: <span id="distanciaRecorrida">5</span></p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Horario</div>
                                    <div class="card-body">
                                        <p>Mañana:<span id="incidentes">08:00AM</span></p>
                                        <p>Tarde:<span id="retrasos">01:00PM</span></p>
                                        <p>Noche:<span id="mantenimiento">06:00PM</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>