<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="icon" href="/cara2/assets/images/author-image.avif" type="image/x-icon">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
  href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
  rel="stylesheet"
  />

  <title>Sistema Control de computadoras</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
  -->
  <!-- Bootstrap core CSS -->
  <link href="/cara2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/cara2/assets/css/fontawesome.css" />
  <link rel="stylesheet" href="/cara2/assets/css/templatemo-style.css" />
  <link rel="stylesheet" href="/cara2/assets/css/owl.css" />
  <link rel="stylesheet" href="/cara2/assets/css/lightbox.css" />
  <link rel="stylesheet" href="/cara2/assets/css/responsive.css">
  <script src='/cara2/assets/js/alertConfig.js'></script>
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
            <a href="#"><img class="lazy" data-src="/icon/laptop.png" alt="" /></a>
          </div>
          <div class="author-content">
            <h4>SISTEMA ADMINISTRACION</h4>
            <span>COMPUTADORAS/SERVIDORES</span>
          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="#section1">Inicio</a></li>
              <li><a href="#section2">Caracteristicas</a></li>
              <li><a href="#section3">Productos</a></li>
              <li><a href="#section4">E.electronicos</a></li>
            </ul>
          </nav>
          <div class="social-network">
            <ul class="soial-icons">
              <li>
                <a href=""
                ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
          <div class="copyright-text">
            <p>Copyright 2025 derechos reservados comedor</p>
          </div>
        </div>
      </div>
    </div>

    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2 class="sobreNosotros">Principal</h2>
          <div class="line-dec"></div>
          <span
          > Sistema de contabilidad de registrosadministrativos yde componente de equipos electronicos.</span
          >
        </div>
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="lazy" data-src="/icon/in.jpg" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Iniciar Sesion</h4>
                <p>
                  Inicia sesion para comenzar con el nuevo sistema de gestion de equipos electronicos.

                </p>
                <div class="white-button">
                  <a href="/login">Login/Registro</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Importancia</h4>
                <p>
                 La alimentación juega un papel crucial en el rendimiento académico y el bienestar general de los estudiantes. En el Comedor Universitario, nos comprometemos a ofrecer alimentos que no solo sean deliciosos, sino que también proporcionen los nutrientes necesarios para mantener la energía y la concentración durante el día.
               </p>
               <div class="white-button">
                <a href="#">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img class="lazy" data-src="/icon/pc.jfif" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section my-services" data-section="section2">
    <div class="container">
      <div class="section-heading">
        <h2>Caracteristicas</h2>
        <div class="line-dec"></div>
        <span
        >Los valores son esenciales para preservar la pulcritud y armonia dentro de la comunidad estudiantil.
        </span
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="service-item">
            <div class="first-service-icon service-icon"></div>
            <h4>Variedad de Productos:</h4>
            <p>
               La tienda debe ofrecer una amplia gama de productos, incluyendo laptops, desktops, componentes de hardware (como tarjetas gráficas, procesadores, y memorias RAM), periféricos (teclados, ratones, monitores), y accesorios (fundas, cargadores, etc.). Esto permite a los clientes encontrar todo lo que necesitan en un solo lugar.

            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item">
            <div class="second-service-icon service-icon"></div>
            <h4>Asesoramiento Personalizado:</h4>
            <p>
              Un buen servicio al cliente es fundamental. La tienda debe contar con personal capacitado que pueda ofrecer asesoramiento personalizado, ayudando a los clientes a elegir el producto que mejor se adapte a sus necesidades y presupuesto.

            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item">
            <div class="third-service-icon service-icon"></div>
            <h4>Demostraciones y Pruebas:</h4>
            <p>
             La posibilidad de probar los productos antes de comprarlos es una gran ventaja. La tienda puede tener estaciones de demostración donde los clientes puedan experimentar con diferentes modelos de computadoras y periféricos.

           </p>
         </div>
       </div>
       <div class="col-md-6">
        <div class="service-item">
          <div class="fourth-service-icon service-icon"></div>
          <h4>Servicios de Reparación</h4>
          <p>
            Ofrecer servicios de reparación y mantenimiento para computadoras y dispositivos relacionados puede ser un gran atractivo. Esto incluye la reparación de hardware, la instalación de software, y el mantenimiento preventivo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section my-work" data-section="section3">
  <div class="container">

    <div class="section-heading">
      <h2>Garantías y Políticas :</h2>
      <div class="line-dec"></div>

      <p>Una tienda de computadoras debe ofrecer garantías claras y políticas de devolución justas. Esto genera confianza en los clientes, ya que saben que pueden devolver o cambiar un producto si no cumple con sus expectativas o presenta algún defecto.
      </p>

      <section class="texto">

        <div>
          <p>
            Promociones y Descuentos: La tienda debe contar con ofertas especiales, descuentos y promociones periódicas para atraer a los clientes. Esto puede incluir ventas de temporada, descuentos por la compra de múltiples productos, o programas de fidelidad que recompensen a los clientes frecuentes.
          </p>
        </div>

        <div>
          <p>Para garantizar la seguridad en los registros de administradores, es fundamental implementar prácticas como la verificación en dos pasos, que protege las cuentas frente a accesos no autorizados. Además, es recomendable establecer procedimientos de acceso seguro y realizar revisiones periódicas de acceso para mantener la integridad de las cuentas con privilegios. 
          </p>
        </div>

        <div>
          <h2>Cuentas de Administrador Individuales: </h2>

          <p>Cada administrador debe tener su propia cuenta identificable. Esto evita confusiones en los registros de auditoría y permite rastrear acciones específicas realizadas por cada usuario.
          </p>

        </div>


      </section>

    </div>

    <div class="row">
      <div class="isotope-wrapper">
        <form class="isotope-toolbar">
          <label
          ><input
          type="radio"
          data-type="*"
          checked=""
          name="isotope-filter"
          />
          <span>Todo</span></label
          >
          <label
          ><input
          type="radio"
          data-type="people"
          name="isotope-filter"
          />
          <span>Filtro 1</span></label
          >
          <label
          ><input
          type="radio"
          data-type="nature"
          name="isotope-filter"
          />
          <span>Filtro 2</span></label
          >
          <label
          ><input
          type="radio"
          data-type="animals"
          name="isotope-filter"
          />
          <span>Filtro 3</span></label
          >
        </form>
        <div class="isotope-box">
          <div class="isotope-item" data-type="nature">
            <figure class="snip1321">
              <img
              src="/icon/u.jfif"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/u.jfif"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>Lenovo</h4>
                <span>100.99$.</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="people">
            <figure class="snip1321">
              <img
              src="/icon/ui.jfif"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/ui.jfif"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>HP</h4>
                <span>99.22$</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="animals">
            <figure class="snip1321">
              <img
              src="/icon/laptop2.jfif"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/laptop2.jfif"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>Sony</h4>
                <span>89.43$</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="people">
            <figure class="snip1321">
              <img
              src="/icon/laptop3.jpg"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/laptop3.jpg"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>Siragon</h4>
                <span>203.32$</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="nature">
            <figure class="snip1321">
              <img
              src="/icon/laptop4.png"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/laptop4.png"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>lenovo</h4>
                <span>344.32$</span>
              </figcaption>
            </figure>
          </div>

          <div class="isotope-item" data-type="animals">
            <figure class="snip1321">
              <img
              src="/icon/laptop5.jfif"
              alt="sq-sample26"
              />
              <figcaption>
                <a
                href="/icon/laptop5.jfif"
                data-lightbox="image-1"
                data-title="Caption"
                ><i class="fa fa-search"></i
                ></a>
                <h4>Siragon</h4>
                <span>233.55$</span>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section contact-me" data-section="section4">
  <div class="container">

    <div class="section-heading">
      <h2 class="tipoEmpresa">Equipo electronicos,control , seguimiento,contabilidad.</h2>
      <div class="line-dec"></div>
      <p>
        Pruebas y seguimientos de registros de nuestros productos y transacciones.
      </p>

      <p>
        ¿Por qué es importante registrar tu laptop?
        Seguridad: Registrar tu laptop ayuda a proteger tu inversión. En caso de robo o pérdida, tener un registro puede facilitar la recuperación del dispositivo.
      </p>
      <p>
        Mantenimiento: Llevar un registro de los componentes de tu laptop, como la memoria RAM, el disco duro y la tarjeta gráfica, te permite realizar un seguimiento de su rendimiento y programar mantenimientos preventivos.
      </p>
      <p>
        Garantías y Soporte: Al registrar tu laptop y sus componentes, puedes acceder fácilmente a la información de garantía y soporte técnico, lo que te ahorrará tiempo y esfuerzo en caso de necesitar asistencia.
      </p>
      <p>
        Historial de Actualizaciones: Mantener un registro de las actualizaciones de hardware y software te ayudará a optimizar el rendimiento de tu laptop y a asegurarte de que siempre esté al día.
      </p>



      


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src='/cara2/assets/js/lazyLoading.js'></script>
<script src="/cara2/vendor/jquery/jquery.min.js"></script>
<script src="/cara2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/cara2/assets/js/isotope.min.js"></script>
<script src="/cara2/assets/js/owl-carousel.js"></script>
<script src="/cara2/assets/js/lightbox.js"></script>
<script src="/cara2/assets/js/custom.js"></script>
<script src='/cara2/assets/js/formContacto.js'></script>
<script>
      //according to loftblog tut
  $(".main-menu li:first").addClass("active");

  var showSection = function showSection(section, isAnimate) {
    var direction = section.replace(/#/, ""),
    reqSection = $(".section").filter(
      '[data-section="' + direction + '"]'
      ),
    reqSectionPos = reqSection.offset().top - 0;

    if (isAnimate) {
      $("body, html").animate(
      {
        scrollTop: reqSectionPos
      },
      800
      );
    } else {
      $("body, html").scrollTop(reqSectionPos);
    }
  };

  var checkSection = function checkSection() {
    $(".section").each(function() {
      var $this = $(this),
      topEdge = $this.offset().top - 80,
      bottomEdge = topEdge + $this.height(),
      wScroll = $(window).scrollTop();
      if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink
        .closest("li")
        .addClass("active")
        .siblings()
        .removeClass("active");
      }
    });
  };

  $(".main-menu").on("click", "a", function(e) {
    e.preventDefault();
    showSection($(this).attr("href"), true);
  });

  $(window).scroll(function() {
    checkSection();
  });
</script>
</body>
</html>
